@model Tech_News.Models.EF.Article
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddArticle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return AjaxSend(this);", }))
                {
                    @Html.AntiForgeryToken();
                    <h5>Title</h5>
                    @Html.EditorFor(model => model.article_title, new { htmlAttributes = new { @class = "form-control", @id = "txtTitle",@name = "article_title"} })
                    @Html.ValidationMessageFor(model => model.article_title, "", new { @class = "text-danger small" })
                    <br />
                    <h5>Content</h5>
                    @Html.EditorFor(model => model.article_content, new { htmlAttributes = new { @class = "form-control", @id = "articleContent_add" ,@name = "article_content" } })
                    @Html.ValidationMessageFor(model => model.article_content, "", new { @class = "text-danger small" })
                    
                    <br />
                    <h5>Category</h5>
                    <select name="category_id" class="form-control">
                        @Html.Partial("CategoryBox")
                    </select>
                    <br />
                    <h5>Thumbnail</h5>
                    <input type="file" name="uploadImage" accept="image/*" class="form-control" />
                    <br />
                    <div class="row">
                        <div class="col-12 col-md-12 d-flex justify-content-end">
                            <button type="button" class="m-2 btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="m-2 btn btn-primary" id="addBtn">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
