@model Tech_News.Models.DAO.AdminViewModel
@using Tech_News.Models.EF
@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_Admin.cshtml";

}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white pb-4">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <h4 class="page-title">Articles</h4>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <form action="@Url.Action("ArticleSearch","Admin")" method="post" class="input-group rounded" onsubmit="return SearchArticle(1);">
                    <input type="search" class="form-control rounded" placeholder="Search" id="searchString" />
                    <button type="submit" class="input-group-text border-0" id="searchBtn">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="box-title">Articles</h3>
                        <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                           <span class="fa fa-plus"></span> Add Article
                        </button>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-nowrap article-table">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Id</th>
                                    <th class="border-top-0">Title</th>
                                    <th class="border-top-0 text-center">Thumnail</th>
                                    <th class="border-top-0">Update At</th>
                                    <th class="border-top-0 text-center">Views</th>
                                    <th class="border-top-0 text-center">Editor</th>
                                </tr>
                            </thead>
                            <tbody id="articleTable">

                                @foreach (var item in Model.All_Article)
                                {
                                    <tr>
                                        <td>@item.id</td>
                                        <td class="text-overflow">@item.article_title</td>
                                        <td class="text-center"><img src="@Url.Content(item.article_thumbnail)" width="60px" alt="article-cover-image" /></td>
                                        <td class="text-center">@item.update_at.ToString("dd/MM/yyyy")</td>
                                        <td class="text-center">@item.view.total_view</td>
                                        <td><span class="fa fa-pen-square editor_article" data-id="@item.id" data-bs-toggle ="modal" data-bs-target ="#updateModal"> </span> <span class="fa fa-trash remove_article" data-id="@item.id"> </span> <a href="@Url.Action("Index","NewDetails",new { id = item.id})"><span class="fa fa-eye text-dark"></span></a></td>
                                    </tr>
                                }
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 d-flex justify-content-center align-items-center">
                <nav aria-label="Page navigation" class="pagination_section">
                    <ul class="pagination" id="articlePagination">
                        <li>
                            <a href="@Url.Action("Articles","Admin",new {currentPage = ViewBag.current_page -1 >=1 ?ViewBag.current_page - 1:ViewBag.current_page })" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
                        </li>
                        @for (int i = 1; i <= ViewBag.page_cout; i++)
                        {
                            if (i == ViewBag.current_page)
                            {
                                <li><a href="@Url.Action("Articles","Admin",new { currentPage = i})" class="actived">@i</a></li>

                            }
                            else
                            {
                                <li><a href="@Url.Action("Articles","Admin",new { currentPage = i})"> @i </a></li>

                            }
                        }
                        <li>
                            <a href="@Url.Action("Articles","Admin",new {currentPage = ViewBag.current_page + 1 <= ViewBag.page_cout ? ViewBag.current_page + 1:ViewBag.current_page })" aria-label="Next" class="active"> <span aria-hidden="true">&raquo;</span> </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        @Html.Partial("AddArticle",new Article())
        @Html.Partial("UpdateArticle",new Article())
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
</div>
@*add modal*@

@section Scripts{
<script>
   
</script>    
}